body{
  background-color: rgb(182, 213, 221);
}
.App {
  text-align: center;
}
 
#editor{
  margin-top: 10px;
  height: 300px;
  width: 500px;
  background-color: rgb(49, 49, 49);
  color: white; 
  border-style: solid;
 }

 .previewer{ 
  height: 500px;
  width: 500px;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: white; 
 }
 